version: '3'
services:
  db:
    image: mysql
    container_name: mysql_db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD="secret"
  web:
    image: nginx
    build: ./docker
    depends_on:
      - db
    container_name: ngnix_web
    restart: always
    ports:
      - "8090:80"
